.flattie {
  float:left;
  margin: 5px;
  text-align: center;
}

.flattiesContainer {
  /*height: 300px;*/
}

.my_message {
  margin: 10px;
}

input[type=checkbox]:checked + label.strikethrough{
  text-decoration: line-through;
}
.shopping_list {
  list-style-type: none;
}

.shopping_li {
  /*margin-left: -30px;*/
}

.flattie_pic {
  height:140px;
}

.shoppingContainer {
  margin-bottom: 10px;
}
