.flattie {
  float:left;
  margin: 5px;
  text-align: center;
}

.flattiesContainer {
  height: 270px;
}

/*.noticeContainer {
  height: 70px;
  width: 300px;
  border: 1px solid;
  margin-top: 30px;
}*/
.message {
  margin: 10px;
}

.flattie_pic {
  height:140px
}
